/Library
/Logs
/Temp
.vs/
/.idea/

obj/
bin/
/Assets/StreamingAssets/Game.dll
/build-win64/
/ModuleManager.cpp.temp
bin/
obj/
.vs/
/build-win64
/Build-Android
/*.csproj
/*.vsconfig
/*.csproj
/*.sln
/Assets/StreamingAssets/UnitTest.dll
/Useless
/Assets/StreamingAssets/*.dll
/UnityEditorData/
/Release-*/
*.log
/HuatuoData/LocalIl2CppData/
/HuatuoData/il2cpp_huatuo_repo/
/HuatuoData/huatuo_repo/
/HuatuoData/AssembliesPostIl2CppStrip/
/Build-Win32
/Build_AndroidV7
/Build-AndroidV8/
/Build-AndroidV7
